---
import { ClientRouter } from "astro:transitions";
import Header from "../components/Header.astro";
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>Cafetería Arquitecto Ventura Rodríguez</title>
		<ClientRouter /> <!-- Para que funcionen las transiciones de navegación entre páginas -->
		<slot name="head" />
	</head>
	<body>
		<Header />
		<slot />
	</body>
</html>

<style>
	/*
	Reset global para los navegadores web, esta es una buena
	práctica para evitar que los estilos de los navegadores web
	afecten el diseño de la página web, ejemplo, el navegador
	Chrome tiene estilos por defecto como el padding, margin, etc.
	*/
	* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	}
	/*
	Estilos globales adicionales para el body y el html que
	garantizan que el contenido ocupe el 100% de la pantalla.
	*/
	html,
	body {
		width: 100%;
		height: 100%;
	}
</style>
