---
import { ClientRouter } from "astro:transitions";
import TopMenu from "../components/TopMenu/TopMenu.astro";
import Footer from "../components/footer/Footer.astro";
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<meta name="generator" content={Astro.generator} />
		<title>Recupera tu contraseña</title>
		<ClientRouter /> <!-- Para que funcionen las transiciones de navegación entre páginas -->
	</head>
	<body>
		<TopMenu />
		<slot />
		<Footer />
	</body>
</html>

<style>
	html,
	body {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
	}
</style> 