---
import { PrismaClient } from "@prisma/client";


export async function getStaticPaths() {
    
    const prisma = new PrismaClient();
    const products = await prisma.products.findMany(); //trae todos los productos de la tabla productos
    
    return products.map( product => ({
        params: { product: product.product_name + "-" + product.id_product},
        props: { product }
    }));
};


const { product } = Astro.props;
---

<h1>hola, soy {product.product_name}</h1>