<main>
    <slot />
</main>

<style>
    main {
        margin: 30px;
        border: 1px solid black;
        border-radius: 20px;
        min-height: 200px;

        display: flex;
        flex-direction: column;
    }
</style>