---
import CartIsland from "../components/cart/CartIsland";
import LayoutCart from "../layouts/Layout.astro";
const apiCartUrl = import.meta.env.VITE_API_ORDERS_URL;
---

<LayoutCart>
  <main>
    <h1>Tu carrito</h1>
    <CartIsland apiCartUrl={apiCartUrl} client:only="react" />
  </main>
</LayoutCart>

<style>
  main {
    margin: 30px;
    min-height: 200px;
  }

  h1 {
    margin-bottom: 20px;
  }
