---
import CartIsland from "../components/cart/CartIsland";
import Layout from "../layouts/Layout.astro";
import TopMenu from "../components/topMenu/TopMenu.astro";
const apiCartUrl = import.meta.env.VITE_API_ORDERS_URL;
---

<Layout>
  <TopMenu />
  <main style="margin: 30px; min-height: 200px;">
    <h1>Tu carrito</h1>
    <CartIsland apiCartUrl={apiCartUrl} client:only="react" />
  </main>
</Layout>
