---
import Layout from "../layouts/Layout.astro";
import styles from "../components/Home.module.css";
import HomeHero from "../components/HomeHero.jsx";
import { PrismaClient } from "@prisma/client";
const prisma = new PrismaClient();
// Seleccionamos los productos más atractivos por nombre
const featuredProducts = await prisma.products.findMany({
	where: {
		product_name: {
			in: ["Café con leche", "Napolitana de chocolate", "Bocadillo de jamón"]
		}
	}
});
---

<Layout>
	<main class={styles.homeContainer}>
		<HomeHero products={featuredProducts} client:only="react" />
	</main>
</Layout>
