---
import TopMenu from '../components/topMenu/TopMenu.astro';
import Layout from '../layouts/Layout.astro';
import Products from '../components/Products/Products.astro';
---

<Layout>
	<TopMenu />
	<main>
		<Products  />
	</main>
</Layout>
