.product-button {
  border: 1px solid rgba(242, 101, 34, 0.6);
  box-shadow: 0 0 8px rgba(242, 101, 34, 0.3);
  outline: 1px solid rgba(242, 101, 34, 0.5);
  outline-offset: 0px;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  background: rgba(242, 101, 34, 0.1);
  color: #f26522;
  font-size: 1.1rem;
  padding: 0.7em 1.4em;
  border-radius: 0.5em;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  bottom: 10px;

  backdrop-filter: blur(2px);
}

.product-button:hover {
  background: var(--buff);
  color: var(--lemon-chiffon);
  transform: translateY(-3px) scale(1.02);
  box-shadow: 0 6px 16px rgba(65, 39, 34, 0.2);
}

/*Botón de: https://hackernoon.com/lang/es/los-24-mejores-css-free-to-use-buttons-with-codepen-examples */