.order-element-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid rgb(204, 204, 204);
    border-radius: 10px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    min-width: 200px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.order-details-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-left: 10px;
    align-items: center;
    
    width: 100%;
    border-bottom: 1px solid rgb(204, 204, 204);
    box-sizing: border-box;
}

.order-date {
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-top: 0;
}


/* products */

.product-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 10px;
    align-items: center;
    
    width: 100%;
    border: 0px;
    border-bottom: 1px solid rgb(204, 204, 204);
    border-style: dashed;
    box-sizing: border-box;
}

.product-container:last-child {
    border-bottom: 1px solid rgb(204, 204, 204);
}

.image-product-container {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid rgb(204, 204, 204);
    border-radius: 10px;
    padding: 15px;
    width: fit-content;

    min-width: 70px;
    min-height: 70px;
} 

.image-product {
    width: 50px;
    height: 50px;
}

.product-details-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
}

.order-details-field {
    margin: 0px;
    margin-top: 10px;
}

.page-control-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

@media (width <= 400px) {
  .product-container {


  }
  .product-price {
    
    
  }
}