---
import OrdersFetch from "./OrdersFetch";
const apiOrdersUrl = import.meta.env.VITE_API_ORDERS_URL;
---
<main>
    <OrdersFetch apiOrdersUrl={apiOrdersUrl} client:only="react" />
</main>

<style>
    main {
        margin: 30px;
        min-height: 100vh;

        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        box-sizing: border-box;
    }

    @media (width <= 1000px) {
        main {
            margin: 10px;
            padding: 10px;
            gap: 10px;
        }
    }
</style>