---
import ProductCard from './ProductCard.jsx';
const { products } = Astro.props;
---

<main class="products-list-container">
  <!-- Mapeamos los productos existentes en la base de datos y mostramos cada uno
  esto funciona como un bucle foreach (for in) -->
  {products.map((product: any) => (
    <ProductCard product={product} client:only="react" />
  ))}
</main>

<style>
.products-list-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 0.8rem;
  padding: 2rem 0.5rem;
  justify-items: center;
  align-items: stretch;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}
</style>