---

---

<a href="https://www.flaticon.es/iconos-gratis/cerca" title="cerca iconos">Cerca iconos creados por Pixel perfect - Flaticon</a> <!-- icono cierre X -->
<a href="https://www.flaticon.es/iconos-gratis/supermercado" title="supermercado iconos">Supermercado iconos creados por Freepik - Flaticon</a> <!-- icono carrito -->